/* Páginas Múltiplas */

.content div.top,
.content div.bottom {
  display: flex;
  gap: 10px;
}

#numero, 
#total, 
#day, 
#month, 
#year, 
#DDD, 
#tel, 
#ramal, 
#email,
#escolaridade,
select {
  border: 1px solid #797979;
  border-radius: 5px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.multiple input {
  max-width: 50px;
}

/* Página B */

.content .b .cartoes {
  display: flex;
  flex-direction: column;
}

.content .b .cartoes span {
  display: flex;
  flex-direction: row;

  align-items: center;
}

/* Página C */

.content .c div.top,
.content .c div.bottom {
  flex-direction: row;
  justify-content: center;
}

.content .c textarea {
  max-width: 350px;
  max-height: 200px;
}

.content .c div.complementos {
  display: flex;
  flex-direction: column;
}

.content .c div.list {
  display: flex;
  flex-direction: column;
}

/* Página D */

h1,
h3 {
  text-align: center;
}

h1,
h3,
p,
label,
legend {
  color: #fff;
  margin: 5px;
}

form{
  width: 400px;
}

.content .d div.top,
.content .d div.bottom {
  flex-direction: column;
  gap: 6px;
}

.content .d span > label:first-of-type {
  margin-right: 10px;
}

.content .d .info {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
}

.content .d .info > div {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: calc(100% / 3);
}

.content .d .grid > div {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.content .d footer {
  display: block;
  margin: 10px auto;
  width: fit-content;
}

.content .d .left {
  max-width: 28;
}

.content .d .middle {
  max-width: 0;
}

.content .d .right {
  max-width: 37;
}